*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   font-family:'Roboto', sans-serif;
   line-height: 1.6;
   font-weight: 600;
   font-size: 1rem;
}

.container{
   width: 760px;
   max-width: 90%;
   margin: 0 auto;
   overflow: hidden;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

section{
   margin: 1em;
}

#navbar{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-bottom: 2em;
}

#doc-title{
   font-size: 1rem;
   text-align: center;
   margin-bottom: 0.5em;
}

.nav-link{
   text-decoration: none;
   color: #000;
   background-color: lightblue;
   width: 100%;
   font-size: 1rem;
   border: 1px solid #fff;
   padding: 0.5em;
}

.nav-link:hover,
.nav-link:focus{
   background-color: #000;
   color: #fff;
}

.title{
   text-align: center;
   font-weight: 1.5rem;
   margin-bottom: 1.5em;
}

.img-section{
   width: 90%;
   max-width: 90%;
   margin: 0 auto;
   display: grid;
   grid-template-columns: 50% 50%;
   margin-bottom: 1.5em;
}

.img-section img{
   width: 90%;
   max-width: 90%;
}

h2{
   font-size: 1.4rem;
   margin-bottom: 0.8em;
}

h3{
   opacity: 0.5;
   font-size: 1.3rem;
   margin-bottom: 0.8em;
}

.text-area{
   font-weight: 500;
   font-size: 1rem;
}

p{
   font-size: 1.2rem;
   margin-bottom: 1em;
   opacity: 0.5;
}

p:hover{
   opacity: 1;
}

.main-body img{
   display: block;
   margin-bottom: 1.2em;
   width: 100%;
   max-width: 100%;
}

@media only screen and (min-width: 769px){
   .container{
     width: 1024px;
     position: relative;
     display: flex;
     flex-direction: row;
     justify-content: space-around;
   }

   #main-doc{
      width: 60%;
   }

   #navbar{
      width: 15%;
      align-self: flex-start;
      margin-top: 1em;
      position: fixed;
      left: 0;
      text-align: center;
      margin-left: 0.8em;
   }
   





}